name: dependo
description: A simple project showcasing dependency injection in flutter

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  get_it: ^7.2.0
  bloc: ^8.0.1
  equatable: ^2.0.3
  injectable: ^1.5.0
  json_annotation: ^4.4.0
  cupertino_icons: ^1.0.0
  auto_route: ^3.2.0
  http: ^0.13.4
  firebase_core: ^1.11.0
  firebase_messaging: ^11.2.5


dev_dependencies:
  flutter_test:
    sdk: flutter
  injectable_generator:
  auto_route_generator: ^3.2.0
  build_runner:
  json_serializable: ^6.1.3
  bloc_test: ^9.0.1
  mockito: ^5.0.17


flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
